
.animal {
    width: 10px;
    height: 10px;
    background-image: url(img/animal.png);
    background-position: center center;
}

.plant {
    width: 10px;
    height: 10px;
    background-image: url(img/plant.png);
    background-position: center center;
}

.stone {
    width: 10px;
    height: 10px;
    background-image: url(img/stone.png);
    background-position: center center;
}

input {
    border-radius: 5px;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 50px;
}

#generate *  {
    display:inline-block;
}
#checker {
    position: absolute;
    left: 400px;
}